
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang đặt hàng</title>
    @Styles.Render("~/Content/main.css")
    @if (Session["userinfo"] == null)
    {
        @Styles.Render("~/Content/bootstrap.min.css")
    }
</head>

<body>
    @if (Session["userinfo"] != null)
    {
        <div class="shipping">
            <header class="shipping__header">
                <div class="container">
                    <div class="logo"><a href="/"><i class="icon"></i></a></div>
                    <div class="progress">
                        <div class="progress__item">
                            <div class="text"></div>
                            <div class="bar">
                                <div class="fill-color"></div>
                            </div>
                            <div class="circle"></div>
                        </div>
                        <div class="progress__item">
                            <div class="text"></div>
                            <div class="bar">
                                <div class="fill-color"></div>
                            </div>
                            <div class="circle"></div>
                        </div>
                        <div class="progress__item">
                            <div class="text"></div>
                            <div class="bar">
                                <div class="fill-color"></div>
                            </div>
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="hotline"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/hotline.png"></div>
                </div>
            </header>
            <main style="background: none;">
                <div class="container" style="width: 1170px;">
                    <div class="shipping__title">
                    </div>
                    <p class="shipping__add-address">
                        <span></span>
                    </p>
                    <div class="shipping__main">
                        <div class="form-container">
                            <div class="shipping__item">
                                <label></label>
                                <input type="text" name="full_name" placeholder="Nhập họ tên" maxlength="50">
                            </div>
                            <div class="shipping__item">
                                <label></label><input type="text" name="telephone"
                                                      placeholder="Nhập số điện thoại">
                            </div>
                            <div class="shipping__item">
                                <label></label><input type="text" name="telephone"
                                                      placeholder="Nhập địa chỉ giao">
                            </div>
                            <div class="shipping__item">
                                <button class="btn-finish">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="shipping__footer">
                <div class="container">
                    <p class="terms-text">
                    </p>
                    <p class="terms">
                        <a href="https://tiki.vn/quy-che-hoat-dong-sgdtmdt" target="_blank"></a><a href="https://hotro.tiki.vn/hc/vi/articles/115005575826" target="_blank">
                        </a><a href="https://tiki.vn/thong-tin/dich-vu-bao-hanh-dien-tu-dien-lanh" target="_blank">
                        </a><a href="https://tiki.vn/bao-mat-thanh-toan" target="_blank"></a><a href="https://tiki.vn/bao-mat-thong-tin-ca-nhan" target="_blank"></a>
                    </p>
                    <p class="mt-3"></p>
                </div>
            </footer>
        </div>
    }
    else
    {
        <div class="modal show" id="modalError" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
            <div class="modal-dialog modal-dialog-centered" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Phiên làm việc đã hết hạn</h5>
                    </div>
                    <div class="modal-body">
                        Vui lòng đăng nhập lại.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Quay về trang chủ</button>
                    </div>
                </div>
            </div>

        </div>

        <script src="~/Scripts/bootstrap.bundle.min.js" language="javascript" type="text/javascript"></script>
        <script type="text/javascript">
            document.getElementById('modalError').show();
        </script>
    }

</body>

</html>