
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giỏ hàng</h2>
<section class="cart-products">
    <div class="cart-products-group">
        <a href="https://tiki.vn/cua-hang/tiki-trading" target="_blank"
           class="cart-products-group-name"><span>Tiki Trading</span></a>
        <ul class="list-unstyled m-0 p-0">
            <li>
                <div class="cart-products__inner">
                    <div class="cart-products__img">
                        <a href="/suc-manh-cua-ngon-tu-tang-kem-1-photocard-mintbooks-limited-p57870426.html?spid=57870427">
                            <img src="https://salt.tikicdn.com/cache/200x200/ts/product/54/6d/2f/b4be918982e5df06cc057454e806651e.jpg"
                                 alt="Sức Mạnh Của Ngôn Từ (Tặng Kèm 1 Photocard Mintbooks Limited)">
                        </a>
                    </div>
                    <div class="cart-products__content w-100">
                        <div class="cart-products__content--inner">
                            <div class="cart-products__desc">
                                <a class="cart-products__name"
                                   href="/suc-manh-cua-ngon-tu-tang-kem-1-photocard-mintbooks-limited-p57870426.html?spid=57870427">
                                    Sức
                                    Mạnh Của Ngôn Từ (Tặng Kèm 1 Photocard Mintbooks Limited)
                                </a>

                                <p class="cart-products__author">
                                    <span> - Tác giả: </span><a href="/author/shin-dohyeon.html">Shin Dohyeon</a>
                                </p><span class="cart-products__bookcare">
                                    Sách có thể bọc bằng <a href="/bookcare">BookCare</a>
                                </span>
                                <p class="cart-products__actions">
                                    <span class="cart-products__del">Xóa</span><span class="cart-products__buy-later">Để dành mua sau</span>
                                </p>
                            </div>
                            <div class="cart-products__details">
                                <div class="cart-products__pricess">
                                    <p class="cart-products__real-prices">66.900đ</p>
                                    <p class="cart-products__discount-prices">
                                        <del>96.000đ</del><span class="cart-products__percent-prices">-30%</span>
                                    </p>
                                </div>
                                <div class="book__quantity d-flex">
                                    <div class="abate "></div>
                                    <div class="number">1</div>
                                    <div class="augment"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cart-products__product">
                <div class="cart-products__inner">
                    <div class="cart-products__img">
                        <a href="/dung-lua-chon-an-nhan-khi-con-tre-p11232442.html?spid=11232443">
                            <img src="https://salt.tikicdn.com/cache/200x200/ts/product/eb/62/6b/0e56b45bddc01b57277484865818ab9b.jpg"
                                 alt="Đừng Lựa Chọn An Nhàn Khi Còn Trẻ">
                        </a>
                    </div>
                    <div class="cart-products__content w-100">
                        <div class="cart-products__content--inner">
                            <div class="cart-products__desc">
                                <a class="cart-products__name"
                                   href="/dung-lua-chon-an-nhan-khi-con-tre-p11232442.html?spid=11232443">
                                    Đừng
                                    Lựa Chọn
                                    An Nhàn Khi Còn Trẻ
                                </a>

                                <p class="cart-products__author">
                                    <span> - Tác giả: </span><a href="/author/canh-thien.html">Cảnh Thiên</a>
                                </p><span class="cart-products__bookcare">
                                    Sách có thể bọc bằng <a href="/bookcare">BookCare</a>
                                </span>
                                <p class="cart-products__actions">
                                    <span class="cart-products__del">Xóa</span><span class="cart-products__buy-later">Để dành mua sau</span>
                                </p>
                            </div>
                            <div class="cart-products__details">
                                <div class="cart-products__pricess">
                                    <p class="cart-products__real-prices">56.100đ</p>
                                    <p class="cart-products__discount-prices">
                                        <del>81.000đ</del><span class="cart-products__percent-prices">-31%</span>
                                    </p>
                                </div>
                                <div class="book__quantity d-flex">
                                    <div class="abate "></div>
                                    <div class="number">1</div>
                                    <div class="augment"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="cart-products-group">
        <a href="https://tiki.vn/cua-hang/tiki-trading" target="_blank"
           class="cart-products-group-name"><span>Tiki Trading</span></a>
        <ul class="list-unstyled m-0 p-0">
            <li>
                <div class="cart-products__inner">
                    <div class="cart-products__img">
                        <a href="/suc-manh-cua-ngon-tu-tang-kem-1-photocard-mintbooks-limited-p57870426.html?spid=57870427">
                            <img src="https://salt.tikicdn.com/cache/200x200/ts/product/54/6d/2f/b4be918982e5df06cc057454e806651e.jpg"
                                 alt="Sức Mạnh Của Ngôn Từ&nbsp;(Tặng Kèm 1 Photocard Mintbooks Limited)">
                        </a>
                    </div>
                    <div class="cart-products__content w-100">
                        <div class="cart-products__content--inner">
                            <div class="cart-products__desc">
                                <a class="cart-products__name"
                                   href="/suc-manh-cua-ngon-tu-tang-kem-1-photocard-mintbooks-limited-p57870426.html?spid=57870427">
                                    Sức Mạnh Của Ngôn Từ (Tặng Kèm 1 Photocard Mintbooks Limited)
                                </a>

                                <p class="cart-products__author">
                                    <span> - Tác giả: </span><a href="/author/shin-dohyeon.html">Shin Dohyeon</a>
                                </p><span class="cart-products__bookcare">
                                    Sách có thể bọc bằng <a href="/bookcare">BookCare</a>
                                </span>
                                <p class="cart-products__actions">
                                    <span class="cart-products__del">Xóa</span><span class="cart-products__buy-later">Để dành mua sau</span>
                                </p>
                            </div>
                            <div class="cart-products__details">
                                <div class="cart-products__pricess">
                                    <p class="cart-products__real-prices">66.900đ</p>
                                    <p class="cart-products__discount-prices">
                                        <del>96.000đ</del><span class="cart-products__percent-prices">-30%</span>
                                    </p>
                                </div>
                                <div class="book__quantity d-flex">
                                    <div class="abate "></div>
                                    <div class="number">1</div>
                                    <div class="augment"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- /.cart__items -->

<section class="cart-total">
    <div class="cart-total-prices__inner">
        <div class="coupon">
            <div class="title-usage">
                <p class="coupon-title">Mã khuyến mãi</p>
                <p class="max-usage">
                    Có thể chọn 2<img class="max-usage__info"
                                      src="https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/icons-info-gray.svg"
                                      alt="info">
                </p>
            </div>
            <div class="eligible_coupon_list"></div>
            <div class="show-more">
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/coupon_icon.svg"><span>
                    Chọn
                    hoặc
                    nhập Khuyến mãi
                </span>
            </div>
        </div>
        <div class="cart__prices">
            <div class="prices">
                <ul class="prices__items">
                    <li class="prices__item">
                        <span class="prices__text">Tạm tính</span><span class="prices__value">242.500đ</span>
                    </li>
                </ul>
                <p class="prices__total">
                    <span class="prices__text">Thành tiền</span><span class="prices__value prices__value--final">242.500đ<i>(Đã bao gồm VAT nếu có)</i></span>
                </p>
            </div>
        </div><button type="button" class="cart__submit">Tiến hành đặt hàng</button>
    </div>
</section>
<!-- /.cart_total -->
