<!-- Modal -->
<div class="modal fade" id="modalDangNhap" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="close" data-bs-dismiss="modal" aria-label="Close">
                <i class="tikicon ico-close"></i>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-4 d-flex align-items-center">
                            <img class="w-100" src="~/img/adDangNhap.png" alt="">
                        </div>
                        <!-- //col-5 -->

                        <div class="col-8">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="pills-DangNhap-tab" data-bs-toggle="pill"
                                       href="#pills-DangNhap" role="tab" aria-controls="pills-DangNhap"
                                       aria-selected="true">Đăng nhập</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-DangKy-tab" data-bs-toggle="pill"
                                       href="#pills-DangKy" role="tab" aria-controls="pills-DangKy"
                                       aria-selected="false">Đăng ký</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-DangNhap" role="tabpanel"
                                     aria-labelledby="pills-DangNhap-tab">
                                    <form action="@Url.Action("Login","User")" method="post">
                                        <div class='labelinput'>
                                            <span class="lblInfo">Tên đăng nhập</span>
                                            @Html.TextBox("cus_usr",null, new { @class = "form-control form-input" })
                                        </div>
                                        <div class='labelinput'>
                                            <span class="lblInfo">Mật khẩu</span>
                                            @Html.Password("cus_pwd", null, new { @class = "form-control form-input" })
                                        </div>
                                        <span class='my-2'>Quên mật khẩu? Nhấn vào <a href="">đây</a>.</span>
                                        <div class="form-button mt-3">
                                            <button id="btnDangNhap2" class="btn btn-warning text-dark justify-content-center"
                                                    type="submit">
                                                Đăng nhập
                                            </button>
                                            <button class="btn btn-success justify-content-center">
                                                Đăng nhập bằng Số điện thoại
                                            </button>
                                            <button class="btn btn-facebook">
                                                <i class="tikicon icon-facebook"></i>
                                                Đăng nhập bằng Facebook
                                            </button>
                                            <button class="btn btn-google">
                                                <i class="tikicon icon-google"></i>
                                                Đăng nhập bằng Google
                                            </button>
                                            <button class="btn btn-zalo">
                                                <i class="tikicon icon-zalo"></i>
                                                Đăng nhập bằng Zalo
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="pills-DangKy" role="tabpanel"
                                     aria-labelledby="pills-DangKy-tab">

                                    <form class="needs-validation" novalidate>

                                        <div class='labelinput'>
                                            <label for="hoTen" class='lblInfo'>Họ tên</label>
                                            <input type='text' id="txtHoTen" placeholder="Nhập họ tên"
                                                   class="form-control form-input" ToolTip="Nhập họ tên" />
                                        </div>

                                        <div class='labelinput'>
                                            <label for="txtUser" class='lblInfo'>Tên đăng nhập</label>

                                            <input type='text' id="txtUser" class="form-control form-input"
                                                   ToolTip="Nhập tên đăng nhập" placeholder="Nhập tên đăng nhập" />

                                        </div>

                                        <div class='labelinput'>
                                            <label for="txtPass" class='lblInfo'>Mật khẩu</label>

                                            <input type='text' id="txtPass" TextMode="Password"
                                                   class="form-control form-input" ToolTip="Nhập mật khẩu"
                                                   placeholder="Nhập mật khẩu từ 6 đến 32 ký tự" />

                                        </div>

                                        <div class='labelinput'>
                                            <label for="txtPass" class='lblInfo'>Địa chỉ</label>

                                            <input type='text' id="txtDiaChi" class="form-control form-input"
                                                   ToolTip="Nhập địa chỉ" placeholder="Address" />

                                        </div>
                                        <div class='labelinput'>
                                            <label for="dienThoai" class='lblInfo'>SĐT</label>
                                            <input type='text' id="txtDienThoai" class="form-control form-input"
                                                   ToolTip="Nhập số điện thoại" placeholder="Nhập số điện thoại" />
                                        </div>
                                        <div class='labelinput'>
                                            <label for="email" class='lblInfo'>Email</label>

                                            <input type='text' id="txtEmail" class="form-control form-input"
                                                   ToolTip="Nhập email" placeholder="Nhập email" />
                                        </div>

                                        <div class='labelinput'>
                                            <label for="gioiTinh" class='lblInfo'>Giới tính</label>
                                            <div class="form-input">
                                                <div class="form-check form-check-inline">
                                                    <input type='radio' name='gender' id='male'
                                                           class="form-check-input" />
                                                    <label class="form-check-label" for="male">Nam</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input type='radio' id='female' name='gender' class="form-check-input" />
                                                    <label class="form-check-label" for="female">Nữ</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-button mt-3">
                                            <button id="btnDangKy" class="btn btn-warning text-dark justify-content-center">
                                                Đăng ký
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- //col-7 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //modal--> 