.login .app-auth-branding {
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/sprite@2x.png);
    background-size: 404px;
    text-align: center;
    background-position: 0px 0px;
    width: 90px;
    height: 60px;
    display:inline-block;
}
.app-sidepanel .app-nav .nav-item .nav-link{
    padding-left:14px;
    display: flex;
    align-items: center;
}
.app-sidepanel .app-nav .nav-item .nav-link span.nav-icon {
    position: unset;
    margin-right: 10px;
}
